
<%= form_with class:'max-h-screen h-screen', model: article, url: url do |f| %>
<h1 class="text-white font-black font-extrabold p-4">
    <% if article.id? %> 
        Update
    <% else %>
        Create
    <% end %>
    a Post
</h1>

<p>
    <% if article.errors.any? %>
        <ul class="fixed inset-x-0 bottom-0 flex flex-col items-center text-white text-center">
            <% article.errors.full_messages.each do |message| %>
            <li class="bg-red-100 border m-1 border-red-400 text-red-700 px-4 py-3 rounded"><%= message %></li>
            <% end %>
        </ul>
    <% end %>
</p>
<div class="md:grid justify-items-center h-screen">
    <div class="flex flex-col mx-3 h-4/5 md:w-1/2">
        <%= f.text_field :name,placeholder: 'Title', class: 'border-2 border-gray-700 focus:border-gray-400 bg-gray-800 p-1 h-12 my-1 text-white outline-none w-full rounded-md' %>


        <%= f.text_area :body,placeholder: 'Text', class: 'border-2 border-gray-700 focus:border-gray-400 bg-gray-800 p-1 my-1 h-3/5 text-white outline-none w-full rounded-md' %>

        <div class="buttons flex justify-end">
            <%= link_to articles_path do%>
                <button class="bg-gray-800 text-white hover:opacity-70 rounded-full p-2 px-4 h-10 m-2 cursor-pointer">Cancel</button>
            <% end %>
            <%= f.submit 'Submit', class: 'bg-white hover:opacity-70 rounded-full p-2 px-4 h-10 m-2 cursor-pointer' %>
        </div>
    </div>
</div>
<% end %>