<div class="w-screen flex flex-col md:grid justify-items-center">
    <div class="bg-gray-800 text-white border-2 border-gray-700 m-2 p-3 rounded-md md:w-1/2">
        <%= link_to new_article_path do %>
            <input class="w-full bg-gray-700 p-1 rounded-md border-2 border-gray-600 hover:border-gray-400" type="text" placeholder="Create Post">
        <% end %>
        
    </div>
<% @article.each do |article| %>
    <div class="bg-gray-800 text-white border-2 border-gray-700 hover:border-gray-400 outline-none m-2 p-3 rounded-md md:w-1/2">
        <div class="flex justify-between">
            <p class="font-black inline"><%= article.name %></p>
            <div class="inline">
            <%= link_to edit_article_path(article) do %>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline hover:opacity-75" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                </svg>
            <% end %>
            <%= link_to delete_article_path(article.id),method: :delete, data: {confirm: "Are you sure you want to delete this one?"} do %>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline hover:opacity-75" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                </svg>
            <% end %>
            </div>
        </div>
        <p class="font-extralight text-xs"><%= article.created_at.strftime("%Y/%m/%d") %></p>
        <p class="font-light"><%= article.body %></p>
    </div>
<% end %>
</div>



<a href="articles/new"><button>add</button></a>